@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');


/* colors */
:root{
    --primay : #1A253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081bd;
    --mild : #8997bd;
    --footer : #212A4A;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-sarif;
    background: var(--dark);
    --webkit-font-smoothing: antialiased;
    
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    max-height: 15000px;
    margin: auto;
    position: relative;
}

nav{
    background: var(--primay);
    padding: 1.6rem 0;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.inner .logo i{
    color: var(--info);
}

.inner button{
    background:var(--secondary);
    border: none;
    padding: .06rem 1rem;
    color: var(--pure);
    font-size: 1rem;
    border-radius: 0.5em;
}

.profile{
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}

.profile .left{
    flex: 2;
    display: flex;
    align-items: center;
}

.profile .right{
    flex:1;
}

.profile .left h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile .left p{
    color: var(--mild);
    font-size: 14px;
}

.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.avatarblock{
    position: relative;
    margin-right: 2rem;

}

.profile .left .avatarblock span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 31, 54, 0.05);
    cursor: pointer;
}

.profile .right ul.contact{
    list-style: none;
    margin-bottom: 1.6rem;
}

.profile .right ul.contact li{
    color: var(--ternary);
    margin-bottom: .7rem;
    font-size: 14px;
    
}

.profile .right .ul.contact li i{
    font-size: 18px;
    margin-right: 0.3rem;
    
    
}

.profile .right ul.socials{
    display: flex;
    align-items: center;
    list-style: none;
    /* list-style: none;
    margin-bottom: 1.6rem; */
}
.profile .right ul.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;   
    margin-right: 0.8rem;
}

.profile .right ul.socials li:nth-child(1) a{
    background: var(--secondary);
}

.profile .right ul.socials li:nth-child(2) a{
    background: var(--ternary);
}
.profile .right ul.socials li:nth-child(3) a{
    background: var(--dribble);
}


.section_heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    position: relative;
    /* text-shadow: 0 0 1px rgba(40, 54, 95, 0.1); */
}

section{
    padding: 3rem;
}

main{
    background-color: var(--primay);
 
}

.section_heading:after {
    content: '';
    height: 3px;
    width: 80px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 2px dotted var(--danger);
}

.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;

}
.about .content h2{
    color: blue;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.about .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1rem;

}
.about .content .left button{
    background:rgba(77, 121, 246, 0.1) ;
    color: var(--info);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    line-height: 14px;
    outline: none;
    cursor: pointer;
}
.about .content .right p{
    line-height: 1.6;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;

}

.about .content .right p span:nth-child(1){
    width: 135px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}

.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}

.about .content .right p span:nth-child(1):after{
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.skills .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills .content .left .heading{
    margin-bottom: 2rem;

}

.skills .content .left .heading{
    color: var(--fade);
    font-size: 30px;
}

.skills .content .left .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild);
}
.skills .content .left p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}

.skills .content .left p .center{
    color: var(--fade);
}

.skills .content .left .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;

}

.skills .content .left .item:after{
 content: "";
 position: absolute;
 left: 0;
 top: 0px;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border: 4px solid var(--info);
 margin-left: -23.5px;
 background: var(--primay);
}
.skills .content .left .timeline_wrapper{
    border-left: 2px dotted var(--secondary);
}


.skills .skills_wrapper .skill-box h4{
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

.skills .skills_wrapper .skill-box{
    margin-bottom: 4rem;
}

.skills .skills_wrapper .skill-box .progress-wrap{
    background: #20294a;
    height: 6px;
    width: 100%;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid var(--primay);
}

.skills .skills_wrapper .skill-box .progress-wrap .progress_bar{
    display: block;
    height: 100%;
    background: var(--info);
    width: 0%;
    position: relative;

}

.skills .skills_wrapper .skill-box .progress-wrap .progress_bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: var(--ternary);
}